<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797497356323-6op6lehp59efo3et6p50mht9ctm0ledm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797497356323-6op6lehp59efo3et6p50mht9ctm0ledm</string>
	<key>API_KEY</key>
	<string>AIzaSyBMiDZzwkDjNnZv2rKgf_MaCh2ReF-QkwE</string>
	<key>GCM_SENDER_ID</key>
	<string>797497356323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.snakeGameV25</string>
	<key>PROJECT_ID</key>
	<string>project1-be966</string>
	<key>STORAGE_BUCKET</key>
	<string>project1-be966.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797497356323:ios:9695af1ade4cf4a7208196</string>
</dict>
</plist>